@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<h4 style="font-family: cursive; font-size: 1.5rem; text-align: center;">@TempData["message"]</h4>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4
            justify-content-center">

            
            @{
                if(Model != null){
                foreach(var item in Model){
                    <div class="col mb-5">
                        <div class="card h-100">
        
                            <img class="card-img-top"
                                src="~/Uploads/Item_Image/@item.Book_Image" alt="..." />
                      
                            <div class="card-body p-4">
                                <div class="text-center">
                              
                                    <h5 class="fw-bolder">@item.Book_Name</h5>
                                    @* <h6 class="fw-bolder">Fancy Product</h6> *@
                             
                                    $@item.Book_SalePrice
                                </div>
                            </div>
                    
                            <div class="card-footer p-4 pt-0 border-top-0
                                bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark
                                        mt-auto" asp-action="ShowDetail" asp-route-id="@item.Book_ID">More</a></div>
                            </div>
                        </div>
                    </div>
                }
            } 
            }
            
        </div>
    </div>
</section>
